{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/public/css/reset.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
    <main class="container">
      <section class="container__section">

        <h1 class="container__section__title">URL Shortener</h1>

        <form class="container__section__form">
          <input type="text" placeholder="Your link" class="container__section__form__input">
          <button class="container__section__form__button">Shorten</button>
        </form>

      </section>
    </main>
</body>
</html>
{{end}}