{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>URL Shortener</title>
  <link rel="stylesheet" href="/public/css/reset.css" />
  <link rel="stylesheet" href="/public/css/styles.css" />
</head>
<body>
    <main class="container">
      <section class="container__section">

        <h1 class="container__section__title">URL Shortener</h1>

        <form class="container__section__form" name="add_url">
          <input type="text" placeholder="Your link" name="url" class="container__section__form__input">
          <button class="container__section__form__button">Shorten</button>
        </form>

        <div class="container__section__response display-none" id="newurl_container">
          Your shortened url: <a id="newUrl" href="" target="_blank"></a>
        </div>

      </section>
    </main>
    <script>
      const form = document.forms.add_url;
      form.addEventListener("submit", (event) => {
        event.preventDefault();
        const url = event.target.url.value;
        if (url!=="" || url!==undefined) {
          
          fetch('/add', {
            method: 'POST',
            body: JSON.stringify({"url": url}),
            headers: new Headers({"Content-Type": "application/json"})
          }).then(async (response) => {
            const data = await response.json();
            const aTag = document.getElementById("newUrl");
            const containerUrl = document.getElementById("newurl_container");
            aTag.innerHTML = "http://"+data.newUrl;
            aTag.href = "http://"+data.newUrl;
            containerUrl.classList.remove("display-none");
          }).catch((err) => {
            console.log('Err: ', err)
          });

        }
      })
    </script>
</body>
</html>
{{end}}